-- Check if we have customer data in different tables
SELECT 'service_requests' as table_name, COUNT(*) as count FROM service_requests
UNION ALL
SELECT 'customer_job_history' as table_name, COUNT(*) as count FROM customer_job_history  
UNION ALL
SELECT 'mechanic_job_history' as table_name, COUNT(*) as count FROM mechanic_job_history;
