-- Check actual data in tables
SELECT 'service_requests' as table_name, COUNT(*) as total_count, COUNT(CASE WHEN customer_id IS NOT NULL THEN 1 END) as with_customer 
FROM service_requests
UNION ALL
SELECT 'customer_job_history' as table_name, COUNT(*) as total_count, COUNT(CASE WHEN customer_id IS NOT NULL THEN 1 END) as with_customer
FROM customer_job_history;
